header {
  height: 15vh;
  font-family: "Maitree", serif;
}

#header-list {
  align-items: center;
  height: 15vh;
}

header .list-inline {
  width: 100%;
  display: flex;
  margin-bottom: 0;
}

header .list-inline-item:not(:last-child) {
  margin-right: 0;
}

.title-col,
.buttons-prefix-col,
.filter-col {
  height: 100%;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
}

.header-title {
  text-align: center;
  font-size: 3vh;
  font-family: "EB Garamond", serif;
}

#instructions-list {
  text-align: left;
  font-size: 0.8vw;
  margin-top: 1em;
}

.buttons-prefix-text {
  text-align: center;
  font-size: 2vh;
  text-align: right;
}

#filter-button-pressed {
  text-decoration: underline;
  font-weight: 900;
}

.filter-button-text {
  text-align: center;
  font-size: 3vh;
  font-family: "EB Garamond", serif;
  font-weight: 700;
}

.clear-markers-button .filter-button-text {
  font-size: 2vh;
}

.title-col {
  background-color: #929191;
  color: #F1EFEF;
}

.buttons-prefix-col {
  background-color: #929191;
  color: #F1EFEF;
}

.accommodation-button {
  background-color: #90ccf4;
  color: #FAFDFF;
}

.activities-button {
  background-color: #f78888;
  color: #FFD6D6;
}

.food-and-drink-button {
  background-color: #f3d250;
  color: #FFF9E3;
}

.clear-markers-button {
  background-color: #5DA2D5;
  color: #B9DBF5;
}

#map-col {
  padding: 0;
}

#map {
  width: 100%;
  height: 85vh;
}

#highlight-card {
  background-color: #daad86 !important;
}

body .card-group > .card {
  flex: none;
  width: 100%;
}

#cards-col {
  padding: 0;
  overflow-y: scroll;
  height: 85vh;
}

.card {
  background-color: #fbeec1 !important;
  font-family: 'Old Standard TT', serif;
  font-family: 'Overlock', cursive;
}

.card-img-top {
  max-height: 12em;
}

.card-title {
  font-family: "EB Garamond", serif;
  font-weight: 700;
}

.card-subtitle {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

.card-body {
  text-align: center;
}
