@mixin headerItem() {
  text-align: center;
}

@mixin headerHeight() {
  height: 10vh;
}

@mixin bodyHeight() {
  height: 90vh;
}


$title-background-color: #929191;
$title-font-color: #F1EFEF;

$subtitle-background-color: #929191;
$subtitle-font-color: #F1EFEF;

$activities-background-color:#f78888;
$activities-font-color:#FFD6D6;

$food-and-drink-background-color: #f3d250;
$food-and-drink-font-color: #FFF9E3;

$accommodation-background-color:#90ccf4;
$accommodation-font-color:#FAFDFF;

$clear-search-results-background-color: #5DA2D5;
$clear-search-font-color:#B9DBF5;


header {
  @include headerHeight();
}


#header-list {
  align-items: center;
  @include headerHeight();
}


header .list-inline {
  width: 100%;
  display: flex;
  margin-bottom: 0;
}

header .list-inline-item:not(:last-child) {
  margin-right: 0;
}


.title-col,
.subtitle-col,
.filter-col {
  height: 100%;
}


.header-title {
  @include headerItem();
  font-size: 5vh;
}

.header-subtitle {
  @include headerItem();
  font-size: 3vh;
  text-align: right;
}

#filter-button-pressed {
  text-decoration: underline;
}

.filter-button-text {
  @include headerItem();
  font-size: 3vh;
}

.clearMarkersButton .filter-button-text {
  font-size: 2vh;
}

.title-col {
  background-color: $title-background-color;
  color: $title-font-color;
}

.subtitle-col {
  background-color: $subtitle-background-color;
  color: $subtitle-font-color;
}

.accommodationButton {
  background-color: $accommodation-background-color;
  color: $accommodation-font-color;
}

.activitiesButton {
  background-color: $activities-background-color;
  color: $activities-font-color;
}

.foodAndDrinkButton {
  background-color: $food-and-drink-background-color;
  color: $food-and-drink-font-color;
}

.clearMarkersButton {
  background-color: $clear-search-results-background-color;
  color: $clear-search-font-color;
  ;
}

#map-col {
  padding: 0;
}


#map {
  width: 100%;
  @include bodyHeight();
}



#highlightCard {
  background-color: red;
}

body .card-group>.card {
  flex: none;
  width: 100%;
}


#cards-col {
  padding: 0;
  overflow-y: scroll;
  @include bodyHeight();
}

.card-img-top {
  max-height: 12em;
}

.card-body {
  text-align: center;
}