#map-col {
  padding: 0; 

}

@mixin headerItem(){
  font-size: 12px;
}

.header-title{
@include headerItem();
}

.header-subtitle {
  @include headerItem();
}

.filter-button-text {
  @include headerItem();
}

header .list-inline {
  width: 100%;
  display: flex;
  margin-bottom: 0;
}

header .list-inline-item:not(:last-child) {
  margin-right: 0;
}

#highlightCard{
  background-color: red;
}

body .card-group>.card{
  flex: none;
  width: 100%;
}


#cards-col {
  padding: 0; 
  max-height: 100vh;    
 overflow-y: scroll;
}

#map {
    width: 100%;
    height: 100vh;
}

  .card-img-top {
    max-height: 12em;
  }
  
  .card-body {
      text-align: center;
  }
