@mixin headerItem() {
  text-align: center;
}

@mixin headerHeight() {
  height: 15vh;
}

@mixin bodyHeight() {
  height: 85vh;
}

@mixin headerTitleFont {
  
}


$title-background-color: #929191;
$title-font-color: #F1EFEF;

$buttons-prefix-background-color: #929191;
$buttons-prefix-font-color: #F1EFEF;

$activities-background-color:#f78888;
$activities-font-color:#FFD6D6;

$food-and-drink-background-color: #f3d250;
$food-and-drink-font-color: #FFF9E3;

$accommodation-background-color:#90ccf4;
$accommodation-font-color:#FAFDFF;

$clear-search-results-background-color: #5DA2D5;
$clear-search-font-color:#B9DBF5;

$title-font: 'EB Garamond', serif;
$other-header-font:   'Maitree', serif;

header{
  @include headerHeight();
  font-family: $other-header-font;
}


#header-list {
  align-items: center;
  @include headerHeight();
}


header .list-inline {
  width: 100%;
  display: flex;
  margin-bottom: 0;
}


header .list-inline-item:not(:last-child) {
  margin-right: 0;
}



.title-col,
.buttons-prefix-col,
.filter-col {
  
  height: 100%;
  display: flex !important;//to override bootstrap styles 
  justify-content: center;
  flex-direction: column;
}



.header-title {
  @include headerItem();
  font-size: 3vh;
  font-family: $title-font;



}

#instructions-list{
 text-align: left;
  font-size: 0.8vw;
  margin-top: 1em;
}

.buttons-prefix-text {
  @include headerItem();
  font-size: 2vh;
  text-align: right;
}

#filter-button-pressed {
  text-decoration: underline;
  font-weight: 900;
}

.filter-button-text {
  @include headerItem();
  font-size: 3vh;
  font-family: $title-font;
  font-weight: 700;
}

.clear-markers-button .filter-button-text {
  font-size: 2vh;
}

.title-col {
  background-color: $title-background-color;
  color: $title-font-color;
}

.buttons-prefix-col {
  background-color: $buttons-prefix-background-color;
  color: $buttons-prefix-font-color;
}

.accommodation-button {
  background-color: $accommodation-background-color;
  color: $accommodation-font-color;
}

.activities-button {
  background-color: $activities-background-color;
  color: $activities-font-color;
  
}

.food-and-drink-button {
  background-color: $food-and-drink-background-color;
  color: $food-and-drink-font-color;

}

.clear-markers-button {
  background-color: $clear-search-results-background-color;
  color: $clear-search-font-color;
  ;
}

#map-col {
  padding: 0;
}


#map {
  width: 100%;
  @include bodyHeight();
}



#highlight-card {
  background-color:#daad86 !important; //overrides default card background color
}

body .card-group>.card {
  flex: none;
  width: 100%;
}


#cards-col {
  padding: 0;
  overflow-y: scroll;
  @include bodyHeight();
}

.card{
  background-color:#fbeec1 !important; //overrides bootstrap
  font-family: 'Old Standard TT', serif;
  font-family: 'Overlock', cursive;



}

.card-img-top {
  max-height: 12em;
}

.card-title{
  font-family: $title-font;
  font-weight: 700;
}

.card-subtitle{
  font-family: $title-font;
  font-weight: 500;
}

.card-body {
  text-align: center;
}